graft pyveritas
global-exclude *.pyc
prune pyveritas/model_card_toolkit/template/html/test/
prune pyveritas/model_card_toolkit/template/md/test/
prune pyveritas/model_card_toolkit/template/test/
prune pyveritas/model_card_toolkit/utils/testdata/